# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
package-lock.json

# Build output
dist/
.cache/
coverage/

# Local env & service folders
.env
.env.*
!.env.example
.vercel/
.netlify/
.firebase/
.firebaserc

# OS/Editor
.DS_Store
Thumbs.db
.vscode/
.idea/

# Misc
*.local
